@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 29px 54px;
}

header nav:first-of-type {
    display: flex;
    gap: 75px;
    align-items: center;
}

header nav:last-of-type {
    display: flex;
    gap: 45px;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

main {
    width: 100%;
    height: 716.83px;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 58px;
    background-image: url(./src/assets/img/background-main.png);
}

main section {
    background-color: #FFF3E3;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 62px 39px;
    gap: 46px;
}

main section div {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

main section div h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 3px;
    color: #333333;
}

main section div h1 {
    font-size: 52px;
    width: 80%;
    line-height: 65px;
    font-weight: 800;
    color: #B88E2F;
}

main section div p {
    font-family: 'Poppins';
    line-height: 24px;
    font-weight: 500;
    font-size: 18px;
    color: #333333;
}

main section button {
    width: 42%;
    padding: 25px 25px;
    cursor: pointer;
    background-color: #B88E2F;
    border: none;
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
}

.hero-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 56px;
    gap: 62px;
}

.hero-container div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero-container div h1 {
    font-size: 32px;
    color: #333333;
    font-weight: 700;
}

.hero-container div p {
    font-size: 20px;
    color: #666666;
}

.hero-container article {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1%;
}

.hero-container article div {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero-container article div h2 {
    color: #333333;
    font-size: 24px;
    font-weight: 600;
}

.cards-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 56px;
    width: 100%;
    gap: 32px;
    justify-content: center;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.cards-wrapper article {
    display: flex;
    margin: 15px;
    flex-direction: column;
    background-color: #F4F5F7;
    position: relative;
}

.cards-wrapper article div {
    padding: 16px 16px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cards-wrapper h1 {
    font-family: 'Poppins';
    font-size: 40px;
    font-weight: 700;
    color: #3A3A3A;
}

.cards-wrapper sub {
    display: flex;
    gap: 16px;
    align-items: center;
}

.cards-wrapper sub p {
    font-family: 'Poppins';
    font-weight: 400;
    width: 107px;
    font-size: 16px;
    text-decoration-line: line-through;
    color: #B0B0B0;
}

.cards-wrapper h2 {
    font-family: 'Poppins';
    width: 131px;
    font-weight: 600;
    font-size: 20px;
    color: #3A3A3A;
}

.cards-wrapper h3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 24px;
    color: #3A3A3A;
}

.cards-wrapper article div:last-of-type {
    color: #898989;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
}

.floating {
    background-color: #E97171;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    top: 5%;
    right: 5%;
    width: 48px;
    position: absolute;
    height: 48px;
}

.new {
    background-color: #2EC1AC;
}

.cards-wrapper button {
    padding: 12px 78px;
    border: 1px solid #B88E2F;
    background-color: transparent;
    color: #B88E2F;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
}

.room {
    display: flex;
    align-items: center;
    justify-content: start;
    margin-top: 170px;
    height: 100vh;
    gap: 42px;
    background-color: #FCF8F3;
    padding: 44px 70px;
}

.room-description {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.room h1 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    color: #3A3A3A;
    width: 422px;
}

.room-description p {
    width: 368px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #616161;
}

.room-description button {
    padding: 12px 36px;
    width: 42%;
    background-color: #B88E2F;
    color: white;
    border: none;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Poppins';
}

.img-room {
    display: flex;
    align-items: start;
    gap: 24px;
    position: absolute;
    justify-content: flex-end;
    right: 0px;
}

.img-resp {
    max-width: 39%;
    height: auto;
    display: block;
}

.img-room section {
    position: absolute;
    padding: 32px 32px;
    width: 25%;
    display: flex;
    align-items: center;
    height: 25%;
    background-color: rgb(255, 255, 255, 72%);
    bottom: 54px;
    left: 170px;
}

.line {
    width: 27px;
    height: 2px;
    background-color: #616161;
}

.description {
    display: flex;
    gap: 8px;
    width: 142px;
    align-items: center;
    justify-content: center;
}

.img-room section article {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 187px;
}

.img-room section article h1 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}

.arrow-right {
    background-color: #B88E2F;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 15px 18px 15px;
    margin-top: 71px;
}

.balls {
    display: flex;
    gap: 20px;
    position: absolute;
    top: 450px;
    right: 278px;
    align-items: center;
    justify-content: center;
}

.ball {
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #D8D8D8;
    position: relative;
}

.ball.active {
    background-color: #B88E2F;
}

.ball.active::after {
    content: '';
    position: absolute;
    background-color: transparent;
    border: 2px solid #B88E2F;
    width: 27px;
    height: 27px;
    top: -90%;
    left: -90%;
    border-radius: 50%;
}

.arrow-room {
    position: absolute;
    right: 55px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.funiro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 67px;
}

.funiro-container h3 {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #616161;
}

.funiro-container h2 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #3A3A3A;
}

.align {
    display: flex;
    align-items: start;
    justify-content: start;
}

.end {
    display: flex;
    align-items: end;
    justify-content: end;
}

.furniture-container {
    display: grid;
    grid-template-columns: 3fr 2fr 3fr;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.furniture-container img {
    max-width: 100%;
    height: auto;
    display: block;
}

.furniture-container article {
    display: flex;
    flex-direction: column;
}

.furniture-container article div {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 2%;
    margin: 2%;
}